:root
{
    --background: #e0e0e0;
    --header: #f1f1f1;
    --font: #011F2A;
    --fontHover: #00445d;
    --border: #292929;
    --gray: #cdcdcd;
    --darkgray: #929292;
    --yellow: #ffcf55;
    --fontLight: #011f2aa6;
}
@media only screen and (max-width: 1000px) 
{
    #menu h1
    {
        display: none;
    }
    #websites a
    {
        margin-left: 1vw;
        font-size: 2.5vh;
    }
    #logo
    {
        margin-left: 1vw;
        width: 10vh;
    }
    #result
    {
        grid-template-columns: auto;
    }
    header
    {
        height: 8vh;
    }
}
html
{
    margin: 0;
    overflow-x: hidden;
    scrollbar-width: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
body
{
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    color: var(--font);
    background-color: var(--background);
    cursor: url('img/auto.svg'), url('img/auto.png'), auto;
}
header
{
    width: 100vw;
    height: 12vh;
    background-color: var(--header);
    box-shadow: 0 0 3px var(--border);
}
#logo
{
    width: 12vh;
    height: auto;
    aspect-ratio: 1 / 1;
    margin-left: 3vw;
}
#menu
{
    width: 100vw;
    display: flex;
}
#menu h1
{
    margin: 3.5vh 0 0 1vw;
    font-size: 4vh;
    font-weight: 700;
}
#websites
{
    
    position: absolute;
    left: 72vw;
    top: 4vh;
}
#websites a
{
    color: var(--font);
    margin-left: 2vw;
    text-decoration: none;
    font-weight: 500;
    font-size: 2.5vh;
    cursor: url('img/pointer.svg'), url('img/pointer.png'), pointer;
}
#websites a:hover {color: var(--fontHover);}
footer
{   
    width: 100vw;
    height: 20vh;
    background-color: var(--darkgray);
    box-shadow: inset 0 0 5px var(--border);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--header);
}
#time {font-weight: 600;}
footer a
{
    color: var(--font);
    margin-left: 1vw;
    text-decoration: none;
    font-weight: 700;
    color: var(--header);
    cursor: url('img/pointer.svg'), url('img/pointer.png'), pointer;
}
#prihlaseni
{
    display: none;
    z-index: 3;
    width: 25vw;
    height: 40vh;
    position: fixed;
    top: 20vh;
    left: 36.5vw;
    background-color: var(--background);
    border-radius: 20px;
    box-shadow: 0 0 2px var(--font);
}
#prihlaseniForm
{
    display: block;
    width: 21vw;
    margin: 3vh auto 0 auto;
}
#prihlaseniForm h2
{
    display: block;
    width: min-content;
    margin: 0 auto 3vh auto;
}
#prihlaseni label {font-weight: 500;}
.prihlaseniInput
{
    margin-bottom: 3vh;
    width: 21vw;
    height: 5vh;
    border: none;
    border-bottom: 2px solid var(--gray);
    font-family: "Nunito", sans-serif;
    color: var(--font);
    background-color: transparent;
}
.prihlaseniInput:focus {outline: none;}
.prihlaseniInput::placeholder {color: var(--fontLight);}
#prihlaseni button
{
    width: 10vw;
    height: 4.5vh;
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 2px var(--font);
    background-color: var(--background);
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    color: var(--font);
}
#prihlaseni button:hover
{
    background-color: var(--gray);
}
#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000043;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 2;
}
#prihlaseniList
{
    display: none;
    width: 10vw;
    height: fit-content;
    display: block;
    position: absolute;
    top: 8.5vh;
    right: 0.5vw;
    background-color: var(--header);
    border-radius: 10px;
    padding: 0.5vw;
    box-shadow: 0 0 1px var(--font);
    transition: all 3s ease-in-out;
}
#prihlaseniList button
{
    border: none;
    background-color: transparent;
    margin-bottom: 1vh;
    font-family: "Nunito", sans-serif;
    color: var(--font);
    font-weight: 500;
    font-size: 16px;
}
#prihlaseniList button:hover
{
    color: var(--fontHover);
    text-decoration: underline;
}
.user
{
    width: 22vw;
    height: fit-content;
    display: block;
    position: fixed;
    top: 20vh;
    left: 39vw;
    z-index: 3;
    border-top: 1px solid transparent;
    background-color: var(--header);
    border-radius: 20px;
    box-shadow: 0 0 2px var(--font);
}
.userForm
{
    width: 19vw;
    display: block;
    height: fit-content;
    margin: 1vw auto 1vw auto;
}
.userForm > *
{
    margin: 0 auto 0 auto;
}
.userForm h3
{
    width: fit-content;
    margin-bottom: 3vh;
    margin-top: 3vh;
}
.userForm::placeholder {color: var(--fontLight);}
.userForm input[type="text"]
{
    margin-bottom: 3vh;
    width: 18vw;
    height: 4vh;
    border: none;
    border-bottom: 2px solid var(--gray);
    font-family: "Nunito", sans-serif;
    color: var(--font);
    background-color: transparent;
}
.userForm input[type="password"]
{
    margin-bottom: 3vh;
    width: 18vw;
    height: 4vh;
    border: none;
    border-bottom: 2px solid var(--gray);
    font-family: "Nunito", sans-serif;
    color: var(--font);
    background-color: transparent;
}
.userForm label {display: block;}
.userForm input:focus {outline: none;}
.userForm button
{
    width: 10vw;
    height: 4.5vh;
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 2px var(--font);
    background-color: var(--background);
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    color: var(--font);
}
.userForm button:hover
{
    background-color: var(--gray);
}
#addUser {display: none;}
#deleteUser {display: none;}
#modifyUser {display: none;}
#deleteUser select
{
    width: 18vw;
    height: 4vh;
    margin: 1vh 0 2vh 0;
    background-color: transparent;
    outline: none;
    border: none;
    font-family: "Nunito", sans-serif;
    font-size: 18x;
    color: var(--font);
}
#deleteUser select:focus
{
    outline: none;
    border: none;
}
#smazat
{
    margin: 2vh auto 3vh auto;
}