@media only all and (max-width: 1000px) 
{
    body, html > *
    {
        max-width: 1000px;
        overflow-x: hidden;
    }
    #menu h1
    {
        display: none;
    }
}
@media only all and (max-width: 746px) 
{
    body, html > *
    {
        max-width: 746px;
        overflow-x: hidden;
    }
    #websites
    {
        top: 2.5vh;
    }
    #prihlaseniButtonRozbalovac
    {
        top: 2.5vh;
        left: 93vw;
    }
    #prihlaseniList
    {
        right: 2vw;
        box-shadow: 0 0 4px var(--font);
    }
    #websites a
    {
        margin-left: 1vw;
        font-size: 2.5vh;
    }
    #websites a {margin-right: 2vw;}
    #websites:last-child {margin-right: 0;}
    header
    {
        height: 8vh;
    }
    #logo
    {
        margin-left: 1vw;
        width: 8vh;
    }
    #search
    {
        width: 50vw !important;
    }
    #searchArea
    {
        width: inherit !important;
    }
    #outputArea
    {
        width: inherit !important;
    }
    #imageForm
    {
        display: block !important;
    }
    #jidloForm
    {
        width: 85vw !important;
        left: 7.5vw !important;
        top: 5vh !important;
    }
    #jidloForm div
    {
        width: 80vw !important;
    }
    #jidloForm div > *
    {
        width: 80vw !important;
    }
}
@media only all and (max-width: 450px) 
{
    body, html > *
    {
        max-width: 450px;
        overflow-x: hidden;
    }
    #prihlaseni
    {
        width: 70vw !important;
        left: 15vw !important;
    }
    #prihlaseniForm
    {
        width: 65vw !important;
        margin: 3vh auto 0 auto;
    }
    #prihlaseniForm > *
    {
        width: inherit !important;
    }
    #prihlaseniForm h2
    {
        text-align: center;
    }
    #search
    {
        width: 85vw !important;
    }
    #imageForm
    {
        display: block !important;
    }
    #jidloForm
    {
        width: 85vw !important;
        left: 7.5vw !important;
        top: 5vh !important;
    }
    #jidloForm div
    {
        width: 80vw !important;
    }
    #jidloForm div > *
    {
        width: 80vw !important;
    }
    .user
    {
        width: 70vw !important;
        left: 15vw !important;
    }
    .userForm
    {
        width: inherit !important;
    }
    .userForm > *
    {
        width: 65vw !important;
    }
    .userForm input, select
    {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    #changePassword {width: 65vw !important;}
}
:root
{
    --background: #e0e0e0;
    --header: #f1f1f1;
    --lightHeader: #f4f4f4;
    --font: #011F2A;
    --fontHover: #005675;
    --border: #292929;
    --gray: #cdcdcd;
    --darkgray: #929292;
    --fileBorder: #929292;
    --yellow: #ffcf55;
    --yellowHover: #ffcc00;
    --fontLight: #011f2aa6;
    --footerFont: #f1f1f1;
    --rating: #ffffff85;
    --red: #ff4646;
    --redHover: #ff0000;
    --svg: url("img/krizekTmavy.svg");
    --svgDark: url("img/mesicSvetly.svg");
    --svgSearch: url("img/searchIconDark.svg");
}
:root.dark
{
    --background: #13171a;
    --header: #1d2528;
    --lightHeader: #20292d;
    --font: #d3e4e6;
    --fontHover: #f8fcff;
    --border: #41555e;
    --gray: #252f34;
    --darkgray: #20292d;
    --fileBorder: #d3e4e6;
    --yellow: #efb728;
    --fontLight: #7f9495;
    --footerFont: #d3e4e6;
    --rating: #46505685;
    --red: #ad3030;
    --redHover: #bb1b1b;
    --svg: url("img/krizekSvetly.svg");
    --svgDark: url("img/slunce.svg");
    --svgSearch: url("img/searchIconLight.svg");
}
html
{
    margin: 0;
    overflow-x: hidden;
    scrollbar-width: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
body
{
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    color: var(--font);
    background-color: var(--background);
    cursor: url('img/auto.svg'), url('img/auto.png'), auto;
}
#topBlur
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    mask-image: linear-gradient(#000000, #00000000);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 3;
}
#bottomBlur
{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    mask-image: linear-gradient(#00000000, #000000);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 3;
}
header
{
    width: 100vw;
    height: 12vh;
    background-color: var(--header);
    box-shadow: 0 0 3px var(--border);
    z-index: 4;
}
#logo
{
    width: 12vh;
    height: auto;
    aspect-ratio: 1 / 1;
    z-index: 4;
    margin-left: 3vw;
    animation: skok 2s ease-in-out;
}
@keyframes skok
{
    0%
    {
        transform: translateY(0px) rotate(0deg) scale(1);
    }
    25% 
    {
        transform: translateY(-4px) rotate(0deg) scale(1.07);
    }
    75% 
    {
        transform: translateY(-10px) rotate(360deg) scale(1.07);
    }
    100%
    {
        transform: translateY(0px) rotate(360deg)  scale(1);
    }
}
#menu
{
    display: flex;
    z-index: 4;
}
#menu > *
{
    z-index: 4;
}
#menu h1
{
    margin: 3.5vh 0 0 1vw;
    font-size: 4vh;
    font-weight: 700;
}
#websites
{
    white-space: nowrap;
    position: absolute;
    right: 4vw;
    top: 4vh;
}
#websites a
{
    color: var(--font);
    margin-left: 2vw;
    text-decoration: none;
    font-weight: 500;
    font-size: 2.5vh;
    cursor: url('img/pointer.svg'), url('img/pointer.png'), pointer;
    transition: all 0.3s ease-in;
}
#websites a:hover {color: var(--fontHover);}
#prihlaseniButtonRozbalovac
{
    width: 20px;
    position: absolute;
    left: 96vw;
    top: 4vh;
    color: var(--font);
    font-weight: 500;
    font-size: 2.5vh;
    cursor: url('img/pointer.svg'), url('img/pointer.png'), pointer;
}
#prihlaseniButtonRozbalovac:hover {color: var(--fontHover);}
footer
{   
    width: 100vw;
    height: 20vh;
    background-color: var(--darkgray);
    box-shadow: inset 0 0 5px var(--border);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--footerFont);
}
#time {font-weight: 600;}
footer a
{
    margin-left: 1vw;
    text-decoration: none;
    font-weight: 700;
    color: var(--footerFont);
    cursor: url('img/pointer.svg'), url('img/pointer.png'), pointer;
}
#prihlaseni
{
    display: none;
    opacity: 0;
    z-index: 6;
    width: 25vw;
    height: 40vh;
    position: fixed;
    top: 20vh;
    left: 36.5vw;
    background-color: var(--background);
    border-radius: 20px;
    box-shadow: 0 0 2px var(--border);
}
@keyframes visible
{
    0%
    {
        visibility: visible;
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@keyframes hidden
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        visibility: hidden;
    }
}
#prihlaseniForm
{
    display: block;
    width: 21vw;
    margin: 3vh auto 0 auto;
}
#prihlaseniForm h2
{
    display: block;
    width: min-content;
    margin: 0 auto 3vh auto;
}
#prihlaseni label
{
    font-weight: 500;
    cursor: url('img/auto.svg'), url('img/auto.png'), auto;
}
.prihlaseniInput
{
    margin-bottom: 3vh;
    width: 21vw;
    height: 5vh;
    border: none;
    border-bottom: 2px solid var(--gray);
    font-family: "Nunito", sans-serif;
    color: var(--font);
    background-color: transparent;
    cursor: url('img/text.svg'), url('img/text.png'), text;
}
.prihlaseniInput:focus {outline: none;}
.prihlaseniInput::placeholder {color: var(--fontLight);}
#prihlaseni button
{
    width: 10vw;
    height: 4.5vh;
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 2px var(--border);
    background-color: var(--background);
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    color: var(--font);
    cursor: url('img/pointer.svg'), url('img/pointer.png'), pointer;
    transition: all 0.3s;
}
#prihlaseni button:hover
{
    background-color: var(--gray);
    transform: translateY(-2px) scale(1.01);
}
#overlay {
    display: none;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000043;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 4;
}
#prihlaseniList
{
    display: none;
    opacity: 0;
    width: fit-content;
    height: max-content;
    position: absolute;
    top: 8.5vh;
    right: 0.5vw;
    background-color: var(--header);
    border-radius: 10px;
    padding: 0.5vw;
    box-shadow: 0 0 1px var(--border);
    transition: opacity 0.3s ease-in-out;
}
#prihlaseniList button
{
    display: block;
    border: none;
    width: max-content;
    background-color: transparent;
    margin-bottom: 1vh;
    font-family: "Nunito", sans-serif;
    color: var(--font);
    font-weight: 500;
    font-size: 16px;
    cursor: url('img/pointer.svg'), url('img/pointer.png'), pointer;
    transition: all 0.3s ease-in;
}
#prihlaseniList button:hover
{
    color: var(--fontHover);
    text-decoration: underline;
}
.user
{
    width: 22vw;
    height: fit-content;
    display: block;
    position: fixed;
    top: 20vh;
    left: 39vw;
    z-index: 6;
    border-top: 1px solid transparent;
    background-color: var(--header);
    border-radius: 20px;
    box-shadow: 0 0 2px var(--border);
    transition: all 0.3s ease-in-out;
    transition-delay: 0.3s;
}
.userForm
{
    width: 19vw;
    display: block;
    height: fit-content;
    margin: 1vw auto 1vw auto;
}
.userForm > *
{
    margin: 0 auto 0 auto;
}
.userForm h3
{
    width: fit-content;
    margin-bottom: 3vh;
    margin-top: 3vh;
}
.userForm::placeholder {color: var(--fontLight);}
.userForm input[type="text"]
{
    margin-bottom: 3vh;
    width: 18vw;
    height: 4vh;
    border: none;
    border-bottom: 2px solid var(--gray);
    font-family: "Nunito", sans-serif;
    color: var(--font);
    background-color: transparent;
    cursor: url('img/text.svg'), url('img/text.png'), text;
}
.userForm input[type="password"]
{
    margin-bottom: 3vh;
    width: 18vw;
    height: 4vh;
    border: none;
    border-bottom: 2px solid var(--gray);
    font-family: "Nunito", sans-serif;
    color: var(--font);
    background-color: transparent;cursor: url('img/text.svg'), url('img/text.png'), text;
}
.userForm label
{
    display: block;
    cursor: url('img/auto.svg'), url('img/auto.png'), auto;
}
.userForm input:focus {outline: none;}
.userForm button
{
    width: 10vw;
    height: 4.5vh;
    display: block;
    margin: 0 auto 12px auto;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 2px var(--border);
    background-color: var(--background);
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    color: var(--font);
    cursor: url('img/pointer.svg'), url('img/pointer.png'), pointer;
    transition: all 0.3s;
}
.userForm button:hover
{
    background-color: var(--gray);
    transform: translateY(-2px) scale(1.01);
}
#addUser {display: none;}
#deleteUser {display: none;}
#modifyUser {display: none;}
#deleteUser select
{
    width: 18vw;
    height: 4vh;
    margin: 1vh 0 2vh 0;
    background-color: transparent;
    outline: none;
    border: none;
    font-family: "Nunito", sans-serif;
    font-size: 18x;
    color: var(--font);
    cursor: url('img/pointer.svg'), url('img/pointer.png'), pointer;
}
#deleteUser select:focus
{
    outline: none;
    border: none;
}
#smazat
{
    margin: 2vh auto 3vh auto;
}
#darkToggle
{
    position: fixed;
    bottom: 3vh;
    left: 2vw;
    z-index: 5;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: var(--font);
    border: none;
    box-shadow: 0 0 3px var(--border);
    background-image: var(--svgDark);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: url('img/pointer.svg'), url('img/pointer.png'), pointer;
    transition: all 0.3s ease-in-out;
}
#darkToggle:hover
{
    background-color: var(--fontHover);
    transform: scale(1.05);
}