:root
{
    --background: #e0e0e0;
    --header: #f1f1f1;
    --font: #011F2A;
    --fontHover: #00445d;
    --border: #292929;
    --gray: #cdcdcd;
    --darkgray: #929292;
    --yellow: #ffc65d;
    --fontLight: #011f2aa6;
}
#formArea
{
    width: 70vw;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
}
.formElement
{
    width: 20vw;
    display: block;
    background-color: var(--header);
    border-radius: 20px;
    box-shadow: 0 0 2px var(--font);
}
.formicka
{
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 1vw auto 1vw auto;
}
.formicka > *
{
    margin: 0 auto 0 auto;
}
.formicka h3 
{
    width: fit-content;
    margin-bottom: 3vh;
}
::placeholder {color: var(--fontLight);}
.formicka input[type="text"]
{
    margin-bottom: 3vh;
    height: 4vh;
    border: none;
    border-bottom: 2px solid var(--gray);
    font-family: "Nunito", sans-serif;
    color: var(--font);
    background-color: transparent;
}
.formicka input[type="password"]
{
    margin-bottom: 3vh;
    height: 4vh;
    border: none;
    border-bottom: 2px solid var(--gray);
    font-family: "Nunito", sans-serif;
    color: var(--font);
    background-color: transparent;
}
.formicka label {display: block;}
.formicka input:focus {outline: none;}
.formicka button
{
    width: 10vw;
    height: 4.5vh;
    display: block;
    margin: 1.5vh auto;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 2px var(--font);
    background-color: var(--background);
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    color: var(--font);
}
.formicka button:hover
{
    background-color: var(--gray);
}
