:root
{
    --background: #e0e0e0;
    --header: #f1f1f1;
    --font: #011F2A;
    --fontHover: #00445d;
    --border: #292929;
    --gray: #cdcdcd;
    --darkgray: #929292;
    --yellow: #ffcf55;
    --fontLight: #011f2aa6;
}
@media only screen and (max-width: 1000px) 
{
    #menu h1
    {
        display: none;
    }
    #websites a
    {
        margin-left: 1vw;
        font-size: 2.5vh;
    }
    #logo
    {
        margin-left: 1vw;
        width: 10vh;
    }
    #result
    {
        grid-template-columns: auto;
    }

}
#first
{
    width: 70vw;
    height: 45vh;
    margin: 5vh auto 3vh auto;
    display: flex;
    justify-content: center;
}
#search
{
    width: 35vw;
    height: 40vh;
}
#searchArea
{
    width: 35vw;
    height: 7vh;
    border-radius: 20px;
    margin: 0;
    overflow: hidden;
    background-color: var(--header);
    box-shadow: 0 0 2px var(--font);
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchArea svg {fill: var(--font);}
#searchBar
{
    display: block;
    width: 25vw;
    height: 5vh;
    border-radius: 20px;
    margin: 0 2.5vw 0 1vw;
    border: none;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    color: var(--font);
    background-color: transparent;
    cursor: url('img/text.svg'), url('img/text.png'), text;
}
#searchBar:focus {outline: none;}
::placeholder {color: var(--font);}
#clear
{
    width: 2vw;
    height: auto;
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 15px;
    /* background-color: var(--yellow); */
    background-color: var(--background);
    box-shadow: 0 0 2px var(--font);
    font-size: 0.9vw;
    font-weight: 1000;
    color: var(--font);
    cursor: url('img/auto.svg'), url('img/auto.png'), auto;
}
#clear:hover
{
    background-color: var(--gray);
}
#outputArea
{
    width: 35vw;
    height: fit-content;
    overflow: hidden;
    margin-top: 2vh;
    border-radius: 20px;
    box-shadow: 0 0 2px var(--font);
    background-color: var(--header);
    border-top: 1px solid transparent;
}
#outputArea p
{
    font-weight: 600;
    font-size: 16px;
    margin: 1.5vh 0 2vh 1vw;
}
.filtr
{
    width: fit-content;
    height: 4.5vh;
    border-radius: 30px;
    border: none;
    margin: 0 0 2.5vh 1vw;
    padding: 0 1vw 0 1vw;
    box-shadow: 0 0 2px var(--font);
    background-color: var(--background);
    /* background-color: var(--yellow); */
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    color: var(--font);
    cursor: url('img/pointer.svg'), url('img/pointer.png'), pointer;
}
.filtr:hover
{
    background-color: var(--gray);
}
hr
{
    margin-top: 0;
    border: none;
    height: 1px;
    background-color: var(--gray);
}
#output
{
    width: 35vw;
    height: fit-content;
    max-height: 22vh;
    overflow: hidden;
    color: var(--font);
    font-size: 18px;
}
#whisper
{
    height: fit-content;
    list-style: none;
    margin: 0;
    padding-left: 1vw;
    overflow: hidden;
}
#whisper:first-child {margin-top: 2vh;}
#whisper li {margin-bottom: 2vh;}
#second
{
    width: 80vw;
    margin: 5vh auto 20vh auto;
    height: fit-content;
    display: flex;
    justify-content: center;
}
#result
{
    /*
    display: grid;
    grid-template-columns: auto auto auto;
    */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* column-gap: 2.5vw;
    row-gap: 5vh; */
    column-gap: 35px;
    row-gap: 40px;
}
.obed
{
    /*width: 25vw;*/
    width: 300px;
    height: min-content ;
    aspect-ratio: 1 / 1.25;
    border-radius: 20px;
    background-color: var(--header);
    box-shadow: 0 0 2px var(--font);
    position: relative;
}
#rating
{
    width: 9.5vw;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    background-color: #ffffff85;
    z-index: 1;
    position: absolute;
    top: -3vh;
    right: 0;
    rotate: 15deg;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0 0 10px #011f2a33;
    display: flex;
    justify-content: center;
    align-items: center;
}
#rating p
{
    color: var(--header);
    font-size: 25px;
    font-weight: 800;
    margin: 0;
    text-shadow: 0 0 10px var(--font);
    /* -webkit-text-stroke: 1px var(--border); */
}
.obed img
{
    /*width: 22vw;*/
    width: 250px;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    margin: 3.5vh auto 2vh auto;
    box-shadow: 0 0 2px var(--font);
    display: block;
}
.obed h2
{
    margin: 0 0 1vh 1.5vw;
    width: 250px;
    height: min-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
}
.obed h2:hover
{
    text-wrap: pretty;
}
.obed p {margin-left: 1.5vw;}

#jidloForm
{
    width: 40vw;
    height: fit-content;
    z-index: 3;
    position: fixed;
    top: 20vh;
    left: 30vw;
    display: none;
    background-color: var(--header);
    border-radius: 20px;
    box-shadow: 0 0 2px var(--font);
}
.formicka
{
    width: 19vw;
    display: block;
    height: fit-content;
    margin: 1vw auto 1vw auto;
}
.formicka > *
{
    margin: 0 auto 0 auto;
}
.formicka h3 
{
    width: fit-content;
    margin-bottom: 3vh;
    margin-top: 3vh;
}
::placeholder {color: var(--fontLight);}
.formicka input[type="text"]
{
    margin-bottom: 3vh;
    width: 18vw;
    height: 4vh;
    border: none;
    border-bottom: 2px solid var(--gray);
    font-family: "Nunito", sans-serif;
    color: var(--font);
    background-color: transparent;
}
.formicka input[type="password"]
{
    margin-bottom: 3vh;
    width: 18vw;
    height: 4vh;
    border: none;
    border-bottom: 2px solid var(--gray);
    font-family: "Nunito", sans-serif;
    color: var(--font);
    background-color: transparent;
}
.formicka label {display: block;}
.formicka input:focus {outline: none;}
.formicka button
{
    width: 10vw;
    height: 4.5vh;
    display: block;
    margin: 1.5vh auto;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 2px var(--font);
    background-color: var(--background);
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    color: var(--font);
}
.formicka button:hover
{
    background-color: var(--gray);
}
input[type="date"]
{
    width: 19vw;
    margin: 1vh 0 2vh 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--gray);
    font-family: "Nunito", sans-serif;
    font-size: 18x;
    color: var(--font);
}
#imageForm input[type="date"]
{
    width: 18.2vw;
}
select
{
    width: 18vw;
    height: 4vh;
    margin: 1vh 0 2vh 0;
    background-color: transparent;
    outline: none;
    border: none;
    font-family: "Nunito", sans-serif;
    font-size: 18x;
    color: var(--font);
}
input[type="file"]
{
    width: 18vw;
    height: auto;
    aspect-ratio: 1 / 1;
    margin: 0 auto 0 auto;
    border-radius: 20px;
    background-color: transparent;
    border: 2px dashed var(--darkgray);
}
#imageForm
{
    display: flex;
    margin: 1vw;
}
#imageForm div
{
    display: block;
    width: 18.5vw;
    margin-right: 1vw;
}
#addMeal
{
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    width: 3.5vw;
    border: none;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 30px;
    background-color: var(--yellow);
    box-shadow: 0 0 3px var(--border);
    font-size: 30px;
    font-family: "Nunito", sans-serif;
    padding-bottom: 3px;
    color: var(--header);
}
#addMeal:hover {background-color: #ffd468;}

.imgDeleteButton{
    display: none;
    background-color: #ff4646;
    position: absolute;
    left: 1vw;
    top: 2vh;
    width: 2vw;
    height: auto;
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 10px;
    /* box-shadow: 0 0 3px var(--border);
    font-size: 1vw;
    font-weight: 800; */
    background-image: url("img/delete-svgrepo-com.svg");
    background-size: 1vw;
    background-repeat: no-repeat;
    background-position: center;
}
.imgDeleteButton:hover
{
    background-color: #ff0000;
    animation: tres infinite 0.5s;
}
@keyframes tres
{
    0%
    {
        transform: translate(1px, 1px);
        transform: rotate(0deg);
    }
    25%
    {
        transform: translate(1px, 1px);
        transform: rotate(-15deg);
    }
    50%
    {
        transform: translate(0px, 0px);
        transform: rotate(0deg);
    }
    75%
    {
        transform: translate(-1px, -1px);
        transform: rotate(15deg);
    }
    100%
    {
        transform: translate(1px, 1px);
        transform: rotate(0deg);
    }
}