:root
{
    --background: #e0e0e0;
    --header: #f1f1f1;
    --font: #011F2A;
    --fontHover: #00445d;
    --border: #292929;
    --gray: #cdcdcd;
    --darkgray: #929292;
    --yellow: #ffc65d;
    --fontLight: #011f2aa6;
}
#formArea
{
    width: 88vw;
    height: fit-content;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
}
#prvni {width: 40vw;}
.formElement
{
    width: 22vw;
    height: fit-content;
    display: block;
    background-color: var(--header);
    border-radius: 20px;
    box-shadow: 0 0 2px var(--font);
}
.formicka
{
    width: 19vw;
    display: block;
    height: fit-content;
    margin: 1vw auto 1vw auto;
}
.formicka > *
{
    margin: 0 auto 0 auto;
}
.formicka h3 
{
    width: fit-content;
    margin-bottom: 3vh;
    margin-top: 3vh;
}
::placeholder {color: var(--fontLight);}
.formicka input[type="text"]
{
    margin-bottom: 3vh;
    width: 18vw;
    height: 4vh;
    border: none;
    border-bottom: 2px solid var(--gray);
    font-family: "Nunito", sans-serif;
    color: var(--font);
    background-color: transparent;
}
.formicka input[type="password"]
{
    margin-bottom: 3vh;
    width: 18vw;
    height: 4vh;
    border: none;
    border-bottom: 2px solid var(--gray);
    font-family: "Nunito", sans-serif;
    color: var(--font);
    background-color: transparent;
}
.formicka label {display: block;}
.formicka input:focus {outline: none;}
.formicka button
{
    width: 10vw;
    height: 4.5vh;
    display: block;
    margin: 1.5vh auto;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 2px var(--font);
    background-color: var(--background);
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    color: var(--font);
}
.formicka button:hover
{
    background-color: var(--gray);
}
input[type="date"]
{
    width: 19vw;
    margin: 1vh 0 2vh 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--gray);
    font-family: "Nunito", sans-serif;
    font-size: 18x;
    color: var(--font);
}
#imageForm input[type="date"]
{
    width: 18.2vw;
}
select
{
    width: 18vw;
    height: 4vh;
    margin: 1vh 0 2vh 0;
    background-color: transparent;
    outline: none;
    border: none;
    font-family: "Nunito", sans-serif;
    font-size: 18x;
    color: var(--font);
}
input[type="file"]
{
    width: 18vw;
    height: auto;
    aspect-ratio: 1 / 1;
    margin: 0 auto 0 auto;
    background-color: transparent;
    border: 2px dashed var(--darkgray);
}
#imageForm
{
    display: flex;
    margin: 1vw;
}
#imageForm div
{
    display: block;
    width: 18.5vw;
    margin-right: 1vw;
}
/* #addUser
{
    width: 18vw;
    display: block;
    height: fit-content;
    margin: 1vw auto 1vw auto;
} */
#modifyUser div
{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1vw;
}
#modifyUser button {width: 9vw;}
